.w-hkcalendar * {
    text-align: center;
}

.w-hkcalendar .c-heading {
    background: #131313;
    color: #efefef;
    border: 0;
}

.w-hkcalendar .c-week-names {
    background: #262626;
    color: #efefef;
    font-weight: bold;
    border: 0;
}

.w-hkcalendar .c-empty-day {
    opacity: 0.5;
}

.w-hkcalendar .c-weekend { background: #facfcf; }
.w-hkcalendar .c-today { background: #cffacf; font-weight: bold; }
.w-hkcalendar .c-active { background: #cfcffa; }
.w-hkcalendar .c-active::after { content: '*'; }

.w-hkcalendar .c-weekend.c-today { background: #fafacf; }
.w-hkcalendar .c-weekend.c-active { background: #facffa; }
.w-hkcalendar .c-today.c-active { background: #cffafa; }

.w-hkcalendar .c-today.c-weekend.c-active { background: #cfcfcf; }

.w-hkcalendar td[onclick],
.w-hkcalendar th[onclick] {
    cursor: pointer !important;
}

.w-hkcalendar td[onclick]:hover,
.w-hkcalendar th[onclick]:hover {
    filter: invert(0.1);
}


.w-hkcalendar td[onclick]:active,
.w-hkcalendar th[onclick]:active {
    filter: saturate(3);
    font-weight: bolder;
}

